/* Resetting the page css properties on all elements */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* Header/Footer logo & text */
.logo-image {
     width: 55px;
     height: auto;
}
.logo-text {
     font-family: Montserrat Alternates;
     font-weight: 600;
     font-style: none;
     font-size: 36px;
     line-height: 32px;
     letter-spacing: 0.03em;
}
.footer-logo {
     margin-top: 0px;
     margin-bottom: 10px;
     width: 55px;
     height: 55px;
}
.footer-text {
     margin-top: 25px;
     font-family: Montserrat Alternates;
     font-weight: 600;
     font-style: normal;
     font-size: 21px;
}
/* Nav elements */
.navbar a {
     text-decoration: none;
     color: rgba(0, 0, 0, 1);
}
.navbar a:hover {
     color: #94A2FB;
}
.navbar {
     align-items: center;
     background-color: #FFFFFF;
     color: rgba(0, 0, 0, 1);
     display: flex;
     font-family: Poppins;
     font-size: 25px;
     justify-content: space-around;
}
.nav-list .list-item {
     list-style: none;
     display: inline-block;
     padding: 20px 10px;
}
/* Hide the menu on larger screens */
.menu {
     display: none;
}
.menu-line {
     background-color: #94A2FB;
     width: 25px;
     height: 3px;
     margin-bottom: 4px;
}

/* Other footer elements */
.webmaster {
     text-decoration: none;
}
.footer-info {
     width: 100%;
     font-family: Poppins;
     font-weight: 200;
     font-size: 18px;
     font-style: normal;
     line-height: 32px;
     letter-spacing: 0.03em;
}
.webmaster-contact {
     margin-top: 13px;
}
.footer-container-fluid {
     display: flex;
     justify-content: space-evenly;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #FFFFFF;
     text-align: center;
}
.calculator {
     background-color: darkslategrey;
     border: 1px solid #ccc;
     border-radius: 10px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px
}
.calculator-screen {
     width: 100%;
     border-radius: 10px;
     font-size: 5rem;
     height: 80px;
     /* border: none; */
     background-color: black;
     color: #FFF;
     text-align: right;
     padding-right: 20px;
     padding-left: 10px;
}
button {
     height: 60px;
     background-color: #E5E5E5;
     border-radius: 5px;
     border: 1px solid darkslateblue;
     /* background-color: transparent; */
     font-size: 2rem;
     color: black;
     background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
     box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
     text-shadow: 0 1px rgba(255, 255, 255, .4);
}
button:hover {
     background-color: gainsboro;
}
.operator {
     color: #94A2FB;
     font-weight: 600;
}
.operator:hover {
     background-color: lightgrey;
}
.all-clear {
     background-color: lightcoral;
     border-color: #B0353A;
     color: #FFF;
}
.all-clear:hover {
     background-color: red;
}
.equal-sign {
     background-color: #94A2FB;
     border-color: darkslateblue;
     color: #FFF;
     height: 100%;
     grid-area: 2 / 4 / 6 / 5;
}
.equal-sign:hover {
     background-color: slateblue;
}
.calculator-keys {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 3px;
     padding: 3px;
     border-radius: 10px;
}

/* Style the calculator elements */


/* Devices smaller than 480 pixels wide */
@media all and (max-width: 480px) {
     /* Center main content */
/*      .calculator {
       
     } */
     /* Header and navigation */
     .navbar {
          flex-direction: column;
          position: relative;
     }
     .logo-container {
          width: 100%;
          margin-left: 25px;
          margin-top: 10px;
          margin-bottom: 5px;
     }
     /* Show the menu  */
     .menu {
          display: block;
          position: absolute;
          right: 25px;
          top: 30px;
     }
     .nav-list {
          list-style: none;
          width: 100%;
          text-align: center;
          padding: 20px;
          display: none;
     }
     .nav-list .list-item {
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 1);
          padding: 10px;
     }
     /* Footer container and logo text */
     .footer-container-fluid {
          padding: 10px;
          flex-direction: column;
          width: 100%;
          height: 125px;
     }
     /* logo and logo text */
     .footer-logo {
          margin-top: 5px;
          width: 45px;
          height: auto;
     }
     .footer-text {
          font-size: 28px;
     }
     .webmaster-contact {
          padding: 0;
          margin: 0;
     }
     .footer-info {
          margin: 0;
          padding: 0;
          font-size: 17px;
          line-height: 21px;
     }
     .webmaster {
          font-size: 16px;
          color: #94A2FB;
     }
     /* Show the hamburger menu */
     .active {
          display: block;
     }
}