/* Resetting the page css properties on all elements */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* Header/Footer logo & text */
.logo-image {
     width: 55px;
     height: auto;
}
.logo-text {
     font-family: Montserrat Alternates;
     font-weight: 600;
     font-style: none;
     font-size: 36px;
     line-height: 32px;
     letter-spacing: 0.03em;
}
.footer-logo {
     margin-top: 0px;
     margin-bottom: 10px;
     width: 55px;
     height: 55px;
}
.footer-text {
     margin-top: 25px;
     font-family: Montserrat Alternates;
     font-weight: 600;
     font-style: normal;
     font-size: 21px;
}
/* Nav elements */
.navbar a {
     text-decoration: none;
     color: rgba(0, 0, 0, 1);
}
.navbar a:hover {
     color: #94A2FB;
}
.navbar {
     align-items: center;
     background-color: #FFFFFF;
     color: rgba(0, 0, 0, 1);
     display: flex;
     font-family: Poppins;
     font-size: 25px;
     justify-content: space-around;
}
.nav-list .list-item {
     list-style: none;
     display: inline-block;
     padding: 20px 10px;
}
/* Hide the menu on larger screens */
.menu {
     display: none;
}
.menu-line {
     background-color: #94A2FB;
     width: 25px;
     height: 3px;
     margin-bottom: 4px;
}

/* Other footer elements */
.webmaster {
     text-decoration: none;
}
.footer-info {
     width: 100%;
     font-family: Poppins;
     font-weight: 200;
     font-size: 18px;
     font-style: normal;
     line-height: 32px;
     letter-spacing: 0.03em;
}
.webmaster-contact {
     margin-top: 13px;
}
.footer-container-fluid {
     display: flex;
     justify-content: space-evenly;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #FFFFFF;
     text-align: center;
}
.main-content {
     width: 100%;
     height: 100px;
     background-color: #94A2FB;
}

/* Devices smaller than 480 pixels wide */
@media all and (max-width: 480px) {
     /* Center main content */
     .main-content {
          width: 103%;
          padding-bottom: 125px;
          text-align: center;
     }
     /* Header and navigation */
     .navbar {
          flex-direction: column;
          position: relative;
     }
     .logo-container {
          width: 100%;
          margin-left: 25px;
          margin-top: 10px;
          margin-bottom: 5px;
     }
     /* Show the menu  */
     .menu {
          display: block;
          position: absolute;
          right: 25px;
          top: 30px;
     }
     .nav-list {
          list-style: none;
          width: 100%;
          text-align: center;
          padding: 20px;
          display: none;
     }
     .nav-list .list-item {
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 1);
          padding: 10px;
     }
     /* Footer container and logo text */
     .footer-container-fluid {
          padding: 10px;
          flex-direction: column;
          width: 100%;
          height: 125px;
     }
     /* logo and logo text */
     .footer-logo {
          margin-top: 5px;
          width: 45px;
          height: auto;
     }
     .footer-text {
          font-size: 28px;
     }
     .webmaster-contact {
          padding: 0;
          margin: 0;
     }
     .footer-info {
          margin: 0;
          padding: 0;
          font-size: 17px;
          line-height: 21px;
     }
     .webmaster {
          font-size: 16px;
          color: #94A2FB;
     }
     /* Show the hamburger menu */
     .active {
          display: block;
     }
}